<section class="center-vertical">
	<h1><%= current_user.name %>の投稿</h1>
	<p>投稿がありません</p>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のイイねした投稿</h1>
	<p>イイねがありません</p>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%= current_user.name %>のフォロワー</h1>
</section>
