<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<div class="login_button">
	</div>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>

	<div class="post center-vertical">
		<img src="" width="125" height="125">
		<p>アーティスト: 〇〇</p>
		<p>アルバム: 〇〇</p>
		<p>曲名: 〇〇</p>
		<p><a href="#">サンプル</a></p>
		<p>コメント: 〇〇</p>
		<p>投稿者: 〇〇</p>
		<a href="#">フォローする</a>
		<a href="#">フォロー解除</a>
		<p>いいねしたユーザー</p>
		<div class="user-box">
			<img src="" alt="user_image" width="40" height="40">
		</div>
		<a href="#">いいねする</a>
	</div>

	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
</section>
