<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<div class="login_button">
	</div>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>

	<div class="post center-vertical">
		<img src="" width="125" height="125">
		<p>artist: 〇〇</p>
		<p>コメント: 〇〇</p>
		<p>投稿者: 〇〇<br>
		</p>
	</div>

	<%# TODO: ここで分岐 %>
	<p>投稿がありません</p>
</section>