<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>MUSIC SNS</title>
		<link rel="stylesheet" href="/assets/css/index.css">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<body>
		<nav class="center-horizontal">
			<a href="#">MUSIC SNS!!!</a>
			<a href="#"><img src="" alt="user_image" width="40" height="40"></a>
			<a href="#">Search</a>
			<a href="#">Sign out</a>
		</nav>

		<main>
			<%= yield %>
		</main>
	</body>
</html>
