<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form>
		<input type="" name="" placeholder="キーワード">
		<input type="" value="検索">
	</form>
	<h2>検索結果</h2>

		<div class="center-horizontal">

				<div class="post center-vertical">
					<img src="" width="125" height="125">
					<p>アーティスト: 〇〇</p>
					<p>アルバム: 〇〇</p>
					<p>曲名: 〇〇</p>
					<a href="#">サンプル</a>
					<form>
						<input type="" value="" name="">
						<input type="" value="" name="">
						<input type="" value="" name="">
						<input type="" value="" name="">
						<input type="" value="" name="">
						<input type="" name="" placeholder="コメント">
						<input type="submit" value="投稿">
					</form>
				</div>

		</div>

	<%# TODO: 検索結果によって分岐 %>
	<p>検索結果がありません</p>

</section>
