<div class="center-horizontal">
    <div class="center-vertical">
        <h1>新規登録</h1>
        <form action="signup" method="post" class="signin-form">
            <input type="text" name="name" placeholder="ユーザー名" required>
            <input type="text" name="password" placeholder="パスワード" required>
            <input type="text" name="password_confirmation" placeholder="パスワードを確認" required>
            <input type="file" name="file" accept="image/*" >
            <input type="submit" value="Sign up">
        </form>
    </div>
</div>