<div class="center-horizontal">
    <div class="center-vertical">
        <h1>新規登録</h1>
        <form action="/signup" method="post" enctype="multipart/form-data">
            <input name="name" placeholder="ユーザー名" required><br>
            <input name="password" type="password" placeholder="パスワード" required><br>
            <input name="password_confirmation" type="password" placeholder="パスワードを確認" required><br>
            <input type="file" name="file" placeholder="画像" ><br>
            <input type="submit" value="Sign up">
        </form>
    </div>
</div>